.chroma {
  color: #a9b1d6;
  background-color: #1a1b26;
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

.chroma .hl {
  background-color: #2f3b54;
}

.chroma .lnt {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.8em 0 0.4em;
  color: #444b6a;
}

.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.8em 0 0.4em;
  color: #444b6a;
}

.chroma .line {
  display: flex;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #bb9af7;
}

.chroma .kc {
  color: #ff9e64;
}

.chroma .kt {
  color: #ff9e64;
}

.chroma .na {
  color: #bb9af7;
}

.chroma .nb,
.chroma .bp {
  color: #7dcfff;
}

.chroma .nc {
  color: #7aa2f7;
}

.chroma .no {
  color: #ff9e64;
}

.chroma .nd {
  color: #89ddff;
}

.chroma .ni {
  color: #ff9e64;
}

.chroma .ne {
  color: #bb9af7;
}

.chroma .nf {
  color: #7aa2f7;
}

.chroma .nl {
  color: #7dcfff;
}

.chroma .nn {
  color: #ff9e64;
}

.chroma .nt {
  color: #f7768e;
}

.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
  color: #f7768e;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #9ece6a;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #ff9e64;
}

.chroma .o,
.chroma .ow {
  color: #89ddff;
}

.chroma .p {
  color: #a9b1d6;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #565f89;
  font-style: italic;
}

.chroma .gd {
  color: #f7768e;
  background-color: #f7768e26;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gr {
  color: #f7768e;
}

.chroma .gh {
  color: #7dcfff;
  font-weight: bold;
}

.chroma .gi {
  color: #9ece6a;
  background-color: #9ece6a26;
}

.chroma .go {
  color: #565f89;
}

.chroma .gp {
  color: #a9b1d6;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gu {
  color: #7dcfff;
  font-weight: bold;
}

.chroma .gt {
  color: #f7768e;
}

.chroma .w {
  color: #a9b1d6;
}

.chroma .lnlines {
  display: none;
}
